/docs/build
/qubot/__pycache__
/qubot/data/fonts
/qubot/data/images
/qubot/data/modules.json
/qubot/data/modules.mdls
/qubot/databases
/qubot/libs/profileshandler.py
/qubot/libs/quconquest.py
/qubot/logs
/qubot/modules/Profiles.py
/qubot/modules/Conquest.py
/qubot/modules/Voting.py
/QBEnv
/.vscode
*.ini
*.pyc
*.pyo
*.log
